/* CSS STRUCTURE TEMPLATE */

* {
    font-family: roboto;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------HEADER NAVIGATION BAR---------------------- */

header {
    position: absolute;
    width: 100%;
    height: 960px;
    left: 0px;
    top: 0px;
}

.logo {
    /* lOGO SUBLIGHT */
    position: relative;
    width: 465px;
    height: 86px;
    left: 20px;
    top: -15px;
    margin-right: 225px;
}

.topnav {
    /* RECTANGLE NAVIGATION */
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    top: 24px;

    background-color: rgba(0, 0, 0, 0.69);
}

.topnav a {
    /* LINK */
    display: flex;
    align-self: flex-start;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    white-space: nowrap;

}

.contactus {
    display: flex;
    margin-right: 150px;
}

/* Change the color of links on hover */
.topnav a:visited {
    /* LINK COLOR VISITED */
    color: #FFFFFF;
}

.topnav a:link {
    /* LINK COLOR */
    color: #FFFFFF;
}

/* HERO BACKGROUND */
.hero {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 960px;
    left: 0px;
    top: 0px;
    background: url(/asset/images/hero_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------HERO SECTION----------------------- */


/* OUR MISSION */

.first-h {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    /* margin-bottom: 40px; */
}

.mission {
    font-style: normal;
    font-weight: 800;
    font-size: 51px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    color: #FFFFFF;
}

/* TAKE YOU TO THE TOP */

.second-h {
    display: flex;
    justify-content: center;
}

.take {
    font-style: normal;
    font-weight: 900;
    font-size: 79px;
    line-height: 93px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* ELEVATOR BUTTON */

.elevator-button {
    display: flex;
    justify-content: center;
    margin: 40px;
}

/* -------------------------------WHY US?--------------------------------------- */
.rectangle-why {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 100%;
    height: 711px;
    background: #383838;
}

.third-h {

    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 80px;
    margin-bottom: 15px;

    color: #FFFFFF;
}

.fourth-h {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 30px;

    color: #FFFFFF;
}

.separator_img {
    display: flex;
    justify-content: center;
}

.item-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}

.ratchet {
    display: flex;
    height: 250px;
    margin-left: 80px;
}

.drill {
    display: flex;
    height: 250px;
    left: 450px;
    margin-top: 13px;
    margin-right: 95px;
}

.multimeter {
    display: flex;
    height: 250px;
    margin-right: 95px;

}

.group-h {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.fifth-h {
    display: flex;
    margin-left: 55px;
}

.sixth-h {
    display: flex;
    margin-right: 35px;
}

.seventh-h {
    display: flex;
    margin-right: 50px;
}

/* 2022 SECUREBOARDS SERIES */

.rectangle-secureboard {
    display: flex;
    width: 100%;
    height: 571px;

}

.security-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eighth-h {
    display: flex;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    margin-left: 75px;


    /* Sublight Engines/Black */

    color: #292929;
}

.ninth-h {
    display: flex;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-left: 75px;
    margin-top: 15px;
    margin-bottom: 35px;

    /* Sublight Engines/Black */

    color: #292929;
}

.security-text {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin-left: 75px;
    margin-right: 350px;

    color: #000000;
}

.security-img {
    display: flex;
    width: 615px;
    height: 411px;
    margin-top: 80px;
    margin-right: 75px;
}

/* Rectangle 3 */

.rectangle-4 {

    position: static;
    width: 100%;
    height: 853px;
    left: 0px;
    top: 2242px;

    background: #FF7630;
}